<div id="invisible"><%=user=User.find_by(id: params[:id].to_i)%></div>
<h1 class="title"><%=user.first_name%> <%=user.last_name%></h1>
<p>age : <%=user.age%></p>
<p>from : <%=City.all.find_by(id: user.city_id).name%></p>
<p><%=user.description%></p>
<p><%=user.email%></p>
